<!-- {{range .}}{{println .TopicName ":"}}{{range .MethodsBlocks}}{{println .MethodType ":" .MethodName}}{{end}}{{end}} -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Method Documentation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <p class="lead">Документация палученная по средуству анализа кода, по аттрибутам с комменатриями 
                <code>//@router</code>
                <code>//@method</code>
                <code>//@request</code> 
                <code>//@response</code> 
                <code>//@description</code>
            </p>
            <h1>Документация методов API</h1> 
            {{range .}}
                <h3>{{print .TopicName}}</h3>
                    <br>
                    {{range .MethodsBlocks}}
                    <p class="bg-success"><strong>{{print .MethodName}}</strong></p>
                    <address><strong><code>{{print .MethodType}}</code>&nbsp;{{print .MethodName}}</strong><br>
                        <strong><code>Rout:</code></strong>&nbsp;<b>{{print .Router }}</b><br>
                        <strong><code>Request:</code>&nbsp;<b>{{print .RequestParams}}</b><br></strong>
                        <strong><code>Response:</code>&nbsp;<b>{{print .ResponseParams}}</b><br></strong>
                        <strong><code>Description:</code>&nbsp;<b>{{print .Description }}</b><br></strong>
                    </address>
                    <hr />
                    {{end}}
                    <br>
            {{end}}
        </div>
    </div>
</body>

</html>